.listing-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  width: 75%;
  height: 450px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.listing {
  width:300px;
  margin: 10px;
  background-color: rgb(104, 2, 147)
}

.listing-content {
  width: 80%;
  height: 60px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(104, 2, 147);
}

.listing-selection {
  width: 200px;
  height: 40px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(104, 2, 147);
}

.listing-price {
  width: 100px;
  background-color: rgb(104, 2, 147);
  padding: 10px;
  margin: 10px;
}