.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    width: 60%;
    height: 450px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.post-image {
    width: 80%;
    height: 60%;
    border-radius: 8px;
}

.post-content {
    width: 95%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.description {
    color: #ccc;
    width: 50%;
    float: left;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: darkslateblue;
}

.post-details {
    color: #ffffff;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
}

.post-detail-item {
    margin: 5% 0px 5% 0px;
    width: 70%;
    height: 40%;
    align-content: center;
    text-align: center;
    font-size: 16px;
    border: 1px solid #000001;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: darkslateblue;
}

.button-group {
    justify-content: left;
}

.post-button {
    background-color: #19013c;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}